<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>PIS projekt{ifset title} | {include title|stripHtml}{/ifset}</title>

	<link rel="icon" href="{$basePath}/images/pharmacy.ico">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="{$basePath}/css/style.css" rel="stylesheet" media="screen">
	<link href="{$basePath}/css/datepicker.css" rel="stylesheet" media="screen">
</head>

<body>

<div class="top-panel">
	<div class="container">
		<div class="col-sm-7">
			{if $user->loggedIn }
				<a n:href="User:profil $userEntity->id">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<b>Profil užívateľa:</b>
					 {$userEntity->getFullName()}</a>
			{/if}
		</div>

		<div class="col-sm-5 text-right">
			{if $user->loggedIn}
				<a n:href="logout!">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Odhlásiť
				</a>
			{else}
				<a n:href="Sign:in">
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Prihlásiť
				</a>
			{/if}
		</div>
	</div>
</div>

<!-- zobrazenie sprav -->
{foreach $flashes as $flash}
	<div class="alert alert-{$flash->type} fade in text-center">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		{$flash->message}
	</div>
{/foreach}

<div class="container space-top">
	<div class="col-md-3">
		<ul class="menu menu-bg">
			<li><a n:href="Homepage:default">Domov</a></li>
			<li><a n:href="Medicine:manage">Správa liekov</a></li>
			<li><a n:href="Supplier:manage">Správa dodávateľov</a></li>
			<li><a n:href="StockMedicine:manage">Správa skladových zásob</a></li>
			<li><a n:href="OrderMedicine:manage">Správa objednávok</a></li>
			{if $manager}
			<li><a n:href="User:manage">Správa užívateľov</a></li>
			{/if}
		</ul>

		<ul class="menu menu-bg">
			<li><a n:href="OrderMedicine:create">Predať liek</a></li>
			<li><a n:href="Medicine:search">Vyhľadať liek</a></li>
		</ul>
	</div>

	<!-- obsah modulov -->
	<div class="col-md-9">
		{include content}
	</div>
</div>

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>

	<script src="{$basePath}/js/bootstrap.min.js"></script>

	<script>
		$(function () {
			$.nette.init();
		});

		// nastavenie prveho tabu, aby bol vzdy aktivny po otvoreni stranky
		splittedData = $(location).attr('pathname').split('/')[2];
		$('.detail.nav-tabs li a').click(function() {
			data = $(this).attr("href");
			if (typeof(Storage) !== "undefined")
				localStorage.setItem(splittedData, data);
		});

		if ($('.detail.nav-tabs').length) {
			data = localStorage.getItem(splittedData);
			if (!data)
				data = "#sectionA";

			$('a[href="'+data+'"]').tab('show');
		}
		else {
			$('a[href="#sectionA"]').tab('show');
		}

		var json = jQuery.parseJSON($(".custom-data").text());

		//
		function setDefaultVal($ind) {
			var $medicineID = $('#frm-createOrderForm-items-'+$ind+'-medicine_id').val();
			var $supplierID = $('#frm-createOrderForm-items-'+$ind+'-supplier_id').val()

			for (k = 0; k < json['medicines'].length; k++) {
				if (json['medicines'][k].id != $medicineID)
					continue;

				for (i = 0; i < json['medicines'][k].suppliers.length; i++) {

					if (json['medicines'][k].suppliers[i].id != $supplierID)
						continue;

					console.log(json['medicines'][k].suppliers[i].count);
					$('#frm-createOrderForm-items-'+$ind+'-in_stock').val(
						json['medicines'][k].suppliers[i].count);

					$('#frm-createOrderForm-items-'+$ind+'-price').val($supplierID);

					if (json['medicines'][k].type === 0)
						$('#frm-createOrderForm-items-'+$ind+'-type').val("Bez predpisu");
					else
						$('#frm-createOrderForm-items-'+$ind+'-type').val("Na predpis");
				}
			}
		}
		$('select[id^=frm-createOrderForm-items-][id$=-medicine_id]').each( function () {
			setDefaultVal($(this).attr("name").match(/\d+/)[0]);
		});
		//

		$("select").click(function(e){
			// index aktualneho selectu, generuje form replicator
			var $itemIndex = $(this).attr("name").match(/\d+/)[0];

			var $medicineID = 'items[' + $itemIndex +'][medicine_id]';
			var $supplierID = 'items[' + $itemIndex +'][supplier_id]';

			if ($(this).attr("name") == $medicineID) {
				// vymazanie ceny lieku
				$('#frm-createOrderForm-items-'+$itemIndex+'-price').val("");
				// vymazanie typ lieku
				$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("");
				// vymazanie typ lieku
				$('#frm-createOrderForm-items-'+$itemIndex+'-in_stock').val("");

				var $suppliers;
				for (i = 0; i < json['medicines'].length; i++) {
					if (json['medicines'][i].id != $(this).val())
						continue;

					$suppliers = json['medicines'][i].suppliers;
					$('#frm-createOrderForm-items-'+$itemIndex+'-price').val(json['medicines'][i].price);

					if (json['medicines'][i].type === 0)
						$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("Bez predpisu");
					else
						$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("Na predpis");

					$('#frm-createOrderForm-items-'+$itemIndex+'-in_stock').val(
						json['medicines'][i].suppliers[0].count);
				}

				// vymazanie starych options
				$('#frm-createOrderForm-items-'+$itemIndex+'-supplier_id').find('option:not(:first)').remove();

				// naplnenie novymi options
				for (i = 0; i < $suppliers.length; i++) {
					var $opt = '<option value="';
					$opt += $suppliers[i].id;
					$opt += '">';
					$opt += $suppliers[i].name;
					$opt += '</option>'

					// pridanie noveho inputu
					$('#frm-createOrderForm-items-'+$itemIndex+'-supplier_id').append($opt);
				}

				$('#frm-createOrderForm-items-'+$itemIndex+'-supplier_id').val($suppliers[0].id);
			}

			if ($(this).attr("name") == $supplierID) {

				if ($(this).val() == "") {
					// vymazanie ceny lieku
					$('#frm-createOrderForm-items-'+$itemIndex+'-price').val("");
					// vymazanie typ lieku
					$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("");
					// vymazanie typ lieku
					$('#frm-createOrderForm-items-'+$itemIndex+'-in_stock').val("");
				}

				var $medID = $('#frm-createOrderForm-items-'+$itemIndex+'-medicine_id').val();

				for (k = 0; k < json['medicines'].length; k++) {
					if (json['medicines'][k].id != $medID)
						continue;

					for (i = 0; i < json['medicines'][k].suppliers.length; i++) {
						if (json['medicines'][k].suppliers[i].id != $(this).val())
							continue;

						$('#frm-createOrderForm-items-'+$itemIndex+'-price').val(json['medicines'][k].price);

						if (json['medicines'][k].type === 0)
							$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("Bez predpisu");
						else
							$('#frm-createOrderForm-items-'+$itemIndex+'-type').val("Na predpis");

						$('#frm-createOrderForm-items-'+$itemIndex+'-in_stock').val(
								json['medicines'][k].suppliers[i].count);
					}
				}
			}
		});
	</script>

	<script>
		$(".custom-form")[0].reset();
	</script>
	<script>
		splitdata = $(location).attr('pathname').split('/')[2];
		$('.list.nav-tabs li a').click(function() {
			data = $(this).attr("href");
			if (typeof(Storage) !== "undefined")
				localStorage.setItem(splitdata, data);
		});

		if ($('.list.nav-tabs').length) {
			console.log("data");
			data = localStorage.getItem(splitdata);
			if (!data)
				data = "#sectionA";

			$('a[href="'+data+'"]').tab('show');}
		else
			$('a[href="#sectionA"]').tab('show');
	</script>

	<script>
		var dtpicker = $('.dtpicker').datepicker({
			format: 'dd.mm.yyyy',
			weekStart: 1,
			autoclose: true
		}).on('changeDate', function(ev) {
			$(this).click().blur();
			$(this).datepicker('hide');
		});
	</script>
{/block}
</body>
</html>
