{define title}Vytvorenie lieku{/define}
{define description}Vytvorenie lieku.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Vytvorenie nového lieku</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Vytvorenie nového lieku</h2>
		{control createMedicineForm}
	</div>
</div>
