{define title}Úprava lieku{/define}
{define description}Úprava lieku.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Úprava lieku</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Úprava lieku</h2>
		{control editMedicineForm}
	</div>
</div>
