{define title}Import príspevkov na lieky{/define}
{define description}Import príspevkov na lieky od zdravotnej poisťovne{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Import príspevkov na lieky od zdravotnej poisťovne</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Import príspevkov na lieky od zdravotnej poisťovne</h2>
		{control importContributionsForm}
	</div>
</div>