{define title}Vyhľadanie lieku{/define}
{define description}Vyhľadanie lieku.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Vyhľadanie</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Vyhľadanie lieku</h2>
		{control searchMedicineForm}

	</div>
</div>
