{define title}Export výkazu pre poisťovňu{/define}
{define description}Export výkazu pre poisťovňu.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Export výkazu pre poisťovňu</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Export výkazu pre poisťovňu</h2>
		{control exportReportForm}
</div>