{define title}Sprava objednávok{/define}
{define description}Výpis všetkých objednávok{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Zoznam objednávok</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Zoznam objednávok</h2>

		<a class="btn btn-primary btn-add" n:href="OrderMedicine:create">Pridať objednávku</a>
	</div>
</div>
