{define title}Vytvorenie skladovej zásoby{/define}
{define description}Vytvorenie skladovej zásoby.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Vytvorenie novej skladovej zásoby</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Vytvorenie novej skladovej zásoby</h2>
			{control createStockMedicineForm}
	</div>
</div>
