{define title}Úprava skladovej zásoby{/define}
{define description}Úprava skladovej zásoby.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Úprava skladovej zásoby</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Úprava skladovej zásoby</h2>
			{control editStockMedicineForm}
	</div>
</div>
