{define title}Sprava skladových zásob{/define}
{define description}Výpis všetkých skladových zásob.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Zoznam skladových zásob</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Zoznam skladových zásob</h2>

		<a class="btn btn-primary btn-add" n:href="StockMedicine:create">Pridať skladovú zásoby</a>
	</div>
</div>
