{define title}Vytvorenie dodávateľa{/define}
{define description}Vytvorenie dodávateľa.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Vytvorenie nového dodávateľa</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Vytvorenie nového dodávateľa</h2>
		{control createSupplierForm}
	</div>
</div>
