{define title}Úprava dodávateľa{/define}
{define description}Úprava dodávateľa.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Úprava dodávateľa</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Úprava dodávateľa</h2>
		{control editSupplierForm}
	</div>
</div>
