{define title}Sprava dodávateľov{/define}
{define description}Výpis všetkých dodávateľov.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Zoznam dodávateľov</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Zoznam dodávateľov</h2>

		<a class="btn btn-primary btn-add" n:href="Supplier:create">Pridať dodávateľa</a>
	</div>
</div>
