{define title}Zmena užívateľského hesla{/define}
{define description}VZmena užívateľského hesla.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Zmena užívateľského hesla</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Zmena užívateľského hesla</h2>
		{control changeUserPasswordForm}
	</div>
</div>
