{define title}Vytvorenie užívateľa{/define}
{define description}Vytvorenie užívateľa.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Vytvorenie nového užívateľa</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Vytvorenie nového užívateľa</h2>
		{control createUserForm}
	</div>
</div>
