{define title}Deaktivácia užívateľa{/define}
{define description}Deaktivácia užívateľa.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Deaktivácia užívateľa</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Deaktivácia užívateľa</h2>
		{control deactivationUserForm}
	</div>
</div>
