{define title}Prihlásenie{/define}
{define description}Prihlásenie do užívateľského účtu.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Prihlásenie</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Prihlásenie</h2>
		{control signInForm}
		<p>Pokiaľ nemáte účet registrujte sa a vyčkajte na pridelenie oprávnení.</p>
	</div>
</div>
